<ion-header>
  <ion-navbar>
    <ion-title>Horário</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="subjects">
      <ion-segment-button value="seg">
        Seg
      </ion-segment-button>
      <ion-segment-button value="ter">
        Ter
      </ion-segment-button>
      <ion-segment-button value="qua">
        Qua
      </ion-segment-button>
      <ion-segment-button value="qui">
        Qui
      </ion-segment-button>
      <ion-segment-button value="sex">
        Sex
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="subjects">
    <ion-list *ngSwitchCase="'seg'">
      <ion-item-sliding *ngFor="let h of seg.schedule">
        <ion-item>
          <h2>{{h.start}} - {{h.end}} </h2>
          <h2 *ngIf="!h.subject" item-end>
            Horário vago
          </h2>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="editSchedule(h.h,seg)" ><ion-icon name="create"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
    <ion-list *ngSwitchCase="'ter'">
      <ion-item-sliding *ngFor="let h of ter.schedule">
        <ion-item>
          <h2>{{h.start}} - {{h.end}} </h2>
          <h2 *ngIf="!h.subject" item-end>
            Horário vago
          </h2>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="editSchedule(h.h,ter)" ><ion-icon name="create"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'qua'">
      <ion-item-sliding *ngFor="let h of qua.schedule">
        <ion-item>
          <h2>{{h.start}} - {{h.end}} </h2>
          <h2 *ngIf="!h.subject" item-end>
            Horário vago
          </h2>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="editSchedule(h.h,qua)" ><ion-icon name="create"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'qui'">
      <ion-item-sliding *ngFor="let h of qui.schedule">
        <ion-item>
          <h2>{{h.start}} - {{h.end}} </h2>
          <h2 *ngIf="!h.subject" item-end>
            Horário vago
          </h2>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="editSchedule(h.h,qui)" ><ion-icon name="create"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'sex'">
      <ion-item-sliding *ngFor="let h of sex.schedule">
        <ion-item>
          <h2>{{h.start}} - {{h.end}} </h2>
          <h2 *ngIf="!h.subject" item-end>
            Horário vago
          </h2>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="editSchedule(h.h,sex)" ><ion-icon name="create"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
    
</ion-content>